<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/miestilo.css" media="screen">
    <title>Principal</title>
    
</head>
<body>

    <nav id="main-menu">
        <ul class="horizontal inner">
            <li class=""> <a href="http://www.google.com">www.google.com</a> </li>
            <li class=""> <a href="http://www.yahoo.com">www.yahoo.com</a> </li>
            <li class=""> <a href="http://exa.unne.edu.ar">exa.unne.edu.ar</a> </li>
            <li id="li-logo"><img id="logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.6ic_a0UWXfRPAvMHSGRFEQAAAA%26pid%3DApi&f=1" alt="planeta tierra"></li>
        </ul>
    </nav>
    <br>
    <div class="titulo">
        <h1>Bienvenidos al Taller de Prog I</h1>
    </div>
    

    <div class="parrafo">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus minus iste ullam, molestias, nobis ad sequi et impedit in earum libero odit doloremque, dicta iusto sint nostrum! Culpa, asperiores saepe!</p>
        <br>
        <p>otro Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi accusamus cupiditate sit, pariatur debitis ipsam quos quidem magnam necessitatibus! Accusamus voluptate, pariatur esse hic nam possimus alias molestias natus?</p>    
    </div>
    <footer>
        <p>este es el pie</p>
    </footer>
</body>
</html>